- var convert = function(epoch){  
-   var date = new Date(epoch*1000)
-   var formatted = date.getFullYear() + '-' + date.getMonth()+1 + '-' + date.getDate() + ' @ ' + date.getHours() + ':' + date.getMinutes() 
-   return formatted
- }

.timeline-box
    .title 
        h2 Public Timeline

        ul.messages 
            for msg in messages 
                li 
                    img(src='{{ message.email|gravatar(size=48) }}')
                    //-  when we support users: a(href="{{ url_for('user_timeline', username=message.username)
                    strong #[a(href="/user/#{msg.user_id}") #{msg.username}] 
                    span #{msg.text} 
                    small — #{convert(msg.pub_date)}
            else 
                li 
                    em There's no messages so far. 
            endfor 